.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 0;
}

.title {
  position: absolute;
  width: 100px;
  left: 0;
  top: 20px;
  font-weight: 70;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 50px;
  left:0;
  top: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 20px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
} 
.classCard{
  border-radius: 10px;
  
}
#cardImage{
  object-fit: cover;
  width:241px;
   height:321px;
   border:none;
/* background: url(de778c59b572c667d3469202c5ea54e1.jpg); */
}