.title {
  padding-top: 40px;
  color:#BD0707;
  padding-bottom:62px;
}

#center {
  margin-left: auto;
  margin-right: auto;
}
.titleForm{
  margin-bottom: 50px;
  color: #BD0707;
}
.formStyle{
  padding-left: 40px;
}
.formImg{
  margin-top:20px;
  width:400px;
   height:450px;
}
.navbarDropdown{
  padding-right:100px;
}
#logo{
  padding-left:40px;
}
#warna{
  background-color:#BD0707;
}

#pading{
  width:85px;
  margin-right:10px;
}
.shopCart{
  width:30px;
   height:30px
}
#detailImg{

   margin-left: 60px;
   margin-top: 30px;
}
#topingStyle{
  width:100px ;
  height:100px ;
}

.check{
  display: none;

}

ul {
  list-style-type: none;
}

#topingDiv {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  /* border: 1px solid #fff; */
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 10px;
  right:  5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.topingstyle {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

#cartWrap{
  margin-right:10px;

}

#badgeCart{
right:10px;
width:15px;
}
#userDropd{
  margin-right:50px;

}
#MyTransactionText{
  font-size:10px;
  margin-bottom:1px;
}
#Mytoping{
  font-size:10px;
  display: inline-block;

}
.modal-backdrop {
  background-color: #BD0707;
}

#plusBtn{
  background-color: #BD0707;
}
#minusBtn{
  background-color: #BD0707;
}
#detailTitle{

  color:#BD0707
}
#totaltitle{
  font-size: 24px;
  color: #974A4A;
  font-weight: bold;
}
#pricestyle{
  font-size: 24px;
  color: #974A4A;
}
#ImgdetailProduct{
  object-fit: "cover";
  width:310px ;
  height:450px ;
  margin-left: 60px;
  /* margin-top: 10px; */
}