.title {
  padding-top: 40px;
  color:#BD0707;
  padding-bottom:62px;
}

#center {
  margin-left: auto;
  margin-right: auto;
}
.titleForm{
  margin-bottom: 50px;
  color: #BD0707;
}
.formStyle{
  padding-left: 40px;
}
.formImg{
  margin-top:20px;
  width:400px;
   height:450px;
}
.navbarDropdown{
  padding-right:100px;
}
#logo{
  padding-left:40px;
}
#warna{
  background-color:#BD0707;
}

#pading{
  width:85px;
  margin-right:10px;
}
.shopCart{
  width:30px;
   height:30px
}
#detailImg{

   margin-left: 60px;
   margin-top: 30px;
}
#topingStyle{
  width:100px ;
  height:100px ;
}

.check{
  display: none;

}

ul {
  list-style-type: none;
}

#topingDiv {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  /* border: 1px solid #fff; */
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 10px;
  right:  5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.topingstyle {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

#cartWrap{
  margin-right:10px;

}

#badgeCart{
right:10px;
width:15px;
}
#userDropd{
  margin-right:50px;

}
#MyTransactionText{
  font-size:12px;
  color: #BD0707;
  margin-bottom:1px;
}
#Mytoping{
  font-size:10px;
  font-weight: bold;
  color: #BD0707;
  display: inline-block;

}
.modal-backdrop {
  background-color: #BD0707;
}

#plusBtn{
  background-color: #BD0707;
}
#minusBtn{
  background-color: #BD0707;
}
#detailTitle{

  color:#BD0707
}
#totaltitle{
  font-size: 24px;
  color: #974A4A;
  font-weight: bold;
}
#pricestyle{
  font-size: 24px;
  color: #974A4A;
}
#ImgdetailProduct{
  object-fit: "cover";
  width:310px ;
  height:450px ;
  margin-left: 60px;
  /* margin-top: 10px; */
}
#payBtn{

  background-color:#BD0707;
  width:544px;
  height: 40px;
  align-items: center;
  
}
#MyTransactionname{

  width: 138px;
  height: 19px;
  left: 841px;
  top: 235px;

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #BD0707;

}

#profilestatus{
   display:block;
    margin-left: auto;
    margin-right:auto;
    width:150px;
    height:15px;
    background-color:transparent;
    border: none;
    
    /* background-color:linear-gradient(to left, #00D1FF 100%, #00D1FF 100%) */
}
#statustext{
  width: 112px;
height: 19px;
left: 1116px;
/* top: 388px; */
  /* padding-top: 5px; */
  color: #00D1FF;
  font-size: 12px;
}
#subtotaltext{
  padding-top: 5px;

  font: Avenir ;  
  font-weight: 900;
  line-height: 13.66px;
  color: #974A4A;
  font-size: 12px;
}


#qr{
  width: 90px;
height: 90px;
/* left: 1136px; */
top: 304px;
margin-left: auto;
margin-right:auto;
display: block;
margin-bottom:10px;
margin-top:12px;
}
#iconprofile{
width: 90px;
height: 90px;
/* left: 1136px; */
top: 304px;
margin-left: auto;
margin-right:auto;
display: block;
margin-bottom:10px;
margin-top:12px;
}

#date{
  width: 96px;
height: 12px;
left: 841px;
top: 257px;

font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 9px;
line-height: 12px;
display: flex;
align-items: center;

color: #BD0707;
}

#wraperprofile{
  width: 554px;
/* height: 242px; */
left: 720px;
top: 216px;

background: #F7DADA;
border-radius: 10px;

}
#updateProfile{
  width:213px;
  height:50px;
  background-color:#BD0707;
}