.title {
  padding-top: 40px;
  color:#BD0707;
  padding-bottom:62px;
}

#center {
  margin-left: auto;
  margin-right: auto;
}
.titleForm{
  margin-bottom: 50px;
  color: #BD0707;
}
.formStyle{
  padding-left: 40px;
}
.formImg{
  margin-top:20px;
  width:400px;
   height:450px;
}